@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* Core */

:root {
	/*--color-primary: 88, 137, 105;*/
	/* --color-primary: 94, 129, 172; */
	--color-primary:  166, 13, 13;
	--color-secondary: 80, 119, 168;
	--color-danger: 248, 112, 96;
}

#__nuxt {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
/*	overflow: hidden;*/
}

@layer base {
	html {
		height: 100%;
		font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		font-size:  14px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@apply bg-gray-100;
	}
	a {
		color: #5E81AC;
	}
	strong {
		font-weight: 600;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.scrollbar-hidden{
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
	.loading {
		position: relative;
		background-image: linear-gradient(
			45deg,rgba(0,0,0,.2) 25%,
			transparent 25%,transparent 50%,
			rgba(0,0,0,.2) 50%,
			rgba(0,0,0,.2) 75%,transparent 75%,transparent
		);
		background-size: 30px 30px;
		animation: barberpole 1000ms linear infinite forwards;
	}
	@keyframes barberpole {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
}

@layer components {
	/* Buttons */
	button {
		@apply disabled:cursor-not-allowed;
	}
	.button {
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
		text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		@apply block h-[37px] px-4 py-2 rounded-md transition text-sm leading-5 font-medium duration-100 ease-in-out focus:border-primary focus:ring-2 focus:ring-primary focus:outline-none focus:ring-opacity-50 disabled:opacity-50 disabled:cursor-not-allowed
	}
	.button-sm {
		@apply h-auto px-2 py-1 leading-4 rounded;
	}
	.button:default {
		@apply text-white bg-primary hover:bg-opacity-90;
	}
	.button.primary-25 {
		box-shadow: 0 0 0 1px rgb(0 0 0 / 0.15), inset 0 1px 0 0 rgba(255,255,255,.4);
		@apply text-white bg-primary/25 hover:bg-opacity-90;
	}
	.button.primary {
		@apply text-white bg-primary border border-black/40 hover:bg-opacity-90;
	}
	.button.white {
		text-shadow: 0 1px 0 rgba(255,255,255,1);
		@apply text-gray-700 bg-white border hover:text-gray-900 hover:bg-opacity-90;
	}
	.button.gray {
		text-shadow: 0 1px 0 rgba(255,255,255,1);
		@apply text-gray-700 bg-gray-100 border hover:text-gray-900 hover:bg-opacity-90;
	}
	.button.green {
		@apply text-white bg-green-600 border border-black/40 hover:bg-opacity-90;
	}
	.button.red {
		@apply text-white bg-red-600 border border-black/40 hover:bg-opacity-90;
	}
	.button.outline-white {
		text-shadow: 0 1px 0 rgba(255,255,255,.25);
		@apply text-white border border-white hover:bg-white hover:text-gray-900 hover:bg-opacity-90;
	}
	/* Inputs */
	.form-input {
		@apply text-base block w-full px-3 py-1.5 transition duration-100 ease-in-out border rounded-md focus:ring-2 focus:outline-none focus:ring-opacity-50 disabled:opacity-50
	}
	.form-input:default {
		@apply text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500 bg-gray-50 dark:bg-gray-900 border-gray-200 dark:border-gray-700 dark:border-opacity-70 focus:bg-white dark:focus:bg-white focus:border-primary focus:ring-primary dark:focus:border-primary dark:focus:ring-primary
	}
	.form-input.white {
		@apply text-gray-900 placeholder-gray-400 bg-white border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-input.red {
		@apply text-red-900 placeholder-red-400 bg-red-50 border-red-200 focus:bg-white focus:border-red-500 focus:ring-red-500
	}
	.form-input.green {
		@apply text-green-900 placeholder-green-400 bg-green-50 border-green-200 focus:bg-white focus:border-green-500 focus:ring-green-500
	}
	.form-input.yellow {
		@apply text-yellow-900 placeholder-yellow-400 bg-red-50 border-yellow-200 focus:bg-white focus:border-yellow-500 focus:ring-yellow-500
	}
	/* Badges */
	.badge {
		@apply ml-2 px-1 inline-flex text-xs font-normal rounded-sm shadow-inner-white border
	}
	.badge.badge-large {
		@apply px-2 py-0.5 text-sm
	}
	.badge.badge-red {
		@apply text-red-700 bg-red-100 border-red-200
	}
	.badge.badge-blue {
		@apply text-blue-700 bg-blue-100 border-blue-200
	}
	/* Voting */
	.upvoted > svg {
		fill: rgba(var(--color-primary));
	}
	.upvote:active > svg, .downvote:active > svg {
		transform: translateY(-8px);
		transition: transform 200ms cubic-bezier(.1,-.5,.6,1.2);
	}
	.downvote:active > svg {
		transform: translateY(8px);
	}
	.downvoted > svg {
		fill: rgba(var(--color-secondary));
	}
}