@font-face {
  font-family: 'Mona Sans';
  src:
    url('assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal, italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* Core */
@layer base {
	:root {
		--color-primary:  60, 105, 145;
		--color-primary-hover: 54, 94, 129;
		--color-secondary: 96, 128, 63;
		--color-danger: 248, 112, 96;
	}

	.dark {
		--color-primary: 75, 127, 170;
		--color-primary-hover: 85, 137, 180;
		--color-secondary: 136, 164, 107;
	}
	html {
		height: 100%;
		font-family: 'Mona Sans', -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
	}
	body {
		display: flex;
		flex-direction: column;
		height: 100%;
		font-size:  14px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@apply bg-gray-100;
	}
	/* https://github.com/shadcn/ui/issues/313 */
	body.dark {
		@apply bg-gray-950;
	}
	#__nuxt {
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		height: 100%;
	}
	a {
		position: relative;
		@apply text-primary;
	}
	a.disabled {
		@apply opacity-50 pointer-events-none;
	}
	strong {
		font-weight: 600;
	}
	pre, .pre {
		@apply p-0.5 bg-gray-50 border rounded shadow-inner-white text-pink-600 font-mono;
	}
	textarea, input[type] {
		@apply text-[16px] sm:text-base;
	}
	textarea {
		@apply p-2.5;
	}
	/* Hide scrollbar for Chrome, Safari and Opera */
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.scrollbar-hidden {
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */
	}
	.loading {
		position: relative;
		background-image: linear-gradient(
			45deg,rgba(0,0,0,.2) 25%,
			transparent 25%,transparent 50%,
			rgba(0,0,0,.2) 50%,
			rgba(0,0,0,.2) 75%,transparent 75%,transparent
		);
		background-size: 30px 30px;
		animation: barberpole 1000ms linear infinite forwards;
	}
	@keyframes barberpole {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}
	.flashing-text {
		transform: rotate(-20deg);
		animation: FlashingText 0.5s ease-in-out infinite;
		color: #FFFF00;
		font-size: 11px;
		font-weight: bold;
		text-shadow: 0 2px 0 #383838;
		pointer-events: none;
	}
	@keyframes FlashingText {
		0% {
			transform: scale(1) rotate(-20deg);
		}
		50% {
			transform: scale(1.05) rotate(-20deg);
		}
		100% {
			transform: scale(1) rotate(-20deg);
		}
	}
	.shadow-polaroid,
	.shadow-polaroid > * {
		position: relative;
	}
	.shadow-polaroid::before {
		content: '';
		position: absolute;
		bottom: -15px;
		right: 0px;
		width: 100%;
		height: 100%;
		background: url("/img/shadow-lg.png") no-repeat bottom right;
		@apply dark:hidden;
	}
}

@layer components {
	/* Buttons */
	button {
		@apply disabled:cursor-not-allowed;
	}
	.button {
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,.2);
		@apply block h-[37px] px-4 py-2 rounded transition text-sm leading-5 font-bold duration-100 ease-in-out active:shadow-inner-xs focus:border-secondary dark:focus:border-white focus:ring-2 focus:ring-secondary dark:focus:ring-white focus:outline-none focus:ring-opacity-50 disabled:opacity-50 disabled:cursor-not-allowed dark:shadow-none;
	}
	.button-sm {
		@apply h-auto px-2 py-1 leading-4 rounded;
	}
	.button:default {
		@apply text-white bg-primary hover:bg-opacity-90;
	}
	.button.primary-25 {
		box-shadow: 0 0 0 1px rgb(0 0 0 / 0.15), inset 0 1px 0 0 rgba(255,255,255,.2);
		@apply text-white bg-primary/25 hover:bg-opacity-90;
	}
	.button.primary {
		@apply text-white bg-primary border border-black/10 dark:border-white/10 hover:bg-primary-hover;
	}
	.button.white {
		@apply text-gray-700 bg-white border hover:text-gray-900 hover:bg-gray-50;
	}
	.button.gray {
		@apply text-gray-700 dark:text-white bg-gray-100 dark:bg-gray-800 border dark:border-gray-700 dark:hover:border-gray-600 hover:text-gray-900 dark:hover:text-white hover:bg-gray-50;
	}
	.button.green {
		@apply text-white bg-green-500 border-black/10 dark:border-white/10 hover:bg-green-600 dark:hover:bg-green-400;
	}
	.button.yellow {
		@apply text-white bg-yellow-500 border-black/10 dark:border-white/10 hover:bg-yellow-600 dark:hover:bg-yellow-400;
	}
	.button.red {
		@apply text-white bg-red-500 border-black/10 dark:border-white/10 hover:bg-red-600 dark:hover:bg-red-400;
	}
	.button.outline-white {
		@apply text-white border border-white hover:bg-white hover:text-gray-900 hover:bg-opacity-90;
	}
	/* Inputs */
	.form-input {
		@apply block w-full px-3 py-1 sm:py-1.5 transition duration-100 ease-in-out border rounded shadow-inner-xs focus:ring-2 focus:outline-none focus:ring-opacity-50 disabled:opacity-50
	}
	.form-input:default {
		@apply text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500 bg-gray-50 dark:bg-gray-900 border-gray-200 dark:border-gray-700 dark:border-opacity-70 focus:bg-white dark:focus:bg-white focus:border-primary focus:ring-primary dark:focus:border-primary dark:focus:ring-primary
	}
	.form-input.white {
		@apply text-gray-900 placeholder-gray-400 bg-white border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-input.gray {
		@apply text-gray-900 placeholder-gray-400 bg-gray-100 border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-input.red {
		@apply text-red-900 placeholder-red-400 bg-red-50 border-red-200 focus:bg-white focus:border-red-500 focus:ring-red-500
	}
	.form-input.green {
		@apply text-green-900 placeholder-green-400 bg-green-50 border-green-200 focus:bg-white focus:border-green-500 focus:ring-green-500
	}
	.form-input.yellow {
		@apply text-yellow-900 placeholder-yellow-400 bg-red-50 border-yellow-200 focus:bg-white focus:border-yellow-500 focus:ring-yellow-500
	}
	/* Badges */
	.badge {
		@apply ml-2 px-[.5em] py-[.375em] inline-flex text-xs font-normal rounded shadow-inner-white border leading-none
	}
	.badge.badge-large {
		@apply text-sm
	}
	.badge.badge-red {
		@apply text-red-700 bg-red-100 border-red-200
	}
	.badge.badge-blue {
		@apply text-blue-700 bg-blue-100 border-blue-200
	}
	/* Voting */
	.upvoted > svg {
		fill: rgba(var(--color-primary));
	}
	.upvote:active > svg, .downvote:active > svg {
		transform: translateY(-8px);
		transition: transform 200ms cubic-bezier(.1,-.5,.6,1.2);
	}
	.downvote:active > svg {
		transform: translateY(8px);
	}
	.downvoted > svg {
		fill: rgba(var(--color-secondary));
	}
	/* Embeds */
	.lite-youtube {
		display: inline-block;
		width: 320px;
	}
}