@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: 88, 137, 105;
	--color-secondary: 16, 69, 71;
	--color-danger: 248, 112, 96;
}

body {
	background-color: #F6F6F3;
	font-size:  14px;
}

@layer base {
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  a {
  	color: #629975;
  }
  strong {
  	font-weight: 500;
  }
}

@layer components {
	/* Buttons */
	.button {
		box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1), inset 0 1px 0 0 rgba(255,255,255,.25);
		text-shadow: 0 -1px 0 rgba(0,0,0,.42);
		@apply block h-[37px] px-4 py-2 rounded-md transition text-xs leading-5 font-semibold duration-100 ease-in-out focus:border-purple-500 focus:ring-2 focus:ring-purple-500 focus:outline-none focus:ring-opacity-50 disabled:opacity-50
	}
	.button:default {
		@apply text-white bg-purple-500 hover:bg-purple-600;
	}
	.button.primary-25 {
		box-shadow: 0 0 0 1px rgb(0 0 0 / 0.15), inset 0 1px 0 0 rgba(255,255,255,.25);
		@apply text-white bg-primary/25 hover:bg-opacity-90;
	}
	.button.primary {
		@apply text-white bg-primary hover:bg-opacity-80;
	}
	.button.white {
		text-shadow: 0 1px 0 rgba(255,255,255,.42);
		@apply text-gray-700 bg-white hover:text-gray-900 hover:bg-opacity-80;
	}
	/* Inputs */
	.form-input {
		@apply text-base block w-full px-3 py-1.5 transition duration-100 ease-in-out border rounded-md focus:ring-2 focus:outline-none focus:ring-opacity-50 disabled:opacity-50
	}
	.form-input:default {
		@apply text-gray-900 dark:text-gray-200 placeholder-gray-400 dark:placeholder-gray-500 bg-gray-50 dark:bg-gray-900 border-gray-200 dark:border-gray-700 dark:border-opacity-70 focus:bg-white dark:focus:bg-white focus:border-primary focus:ring-primary dark:focus:border-primary dark:focus:ring-primary
	}
	.form-input.white {
		@apply text-gray-900 placeholder-gray-400 bg-white border-gray-200 focus:bg-white focus:border-primary focus:ring-primary
	}
	.form-input.red {
		@apply text-red-900 placeholder-red-400 bg-red-50 border-red-200 focus:bg-white focus:border-red-500 focus:ring-red-500
	}
	.form-input.green {
		@apply text-green-900 placeholder-green-400 bg-green-50 border-green-200 focus:bg-white focus:border-green-500 focus:ring-green-500
	}
	.form-input.yellow {
 		@apply text-yellow-900 placeholder-yellow-400 bg-red-50 border-yellow-200 focus:bg-white focus:border-yellow-500 focus:ring-yellow-500
	}
}